.wm-container {
    /* Common colors */
    --wm-background-color: #000000;
    --wm-border-color: #778899;
    --wm-header-background: #778899;
    --wm-header-title-color: #f0f8ff;
    --wm-window-background: #2f2f2f;
    --wm-snap-preview-background: rgba(255, 255, 255, 0.05);
    --wm-resizer-background: transparent;
    
    /* Geometry */
    --wm-window-border-radius: 6px;
    --wm-resizer-size: 4px;
    --wm-window-header-height: 24px;
    --wm-snap-preview-border-width: 2px;
    --wm-window-title-max-width: 30%;
    
    /* Fonts */
    --wm-font-family: system-ui;
    --wm-font-size: 14px;
    
    /* Effects */
    --wm-snap-preview-box-shadow: inset 0 0 0 var(--wm-snap-preview-border-width) #ffffff;
    --wm-window-button-opacity-hover: 0.5;
  }

.wm-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    position: relative;
    background: var(--wm-background-color);
}

.wm-container * {
    box-sizing: border-box;
}

.wm-container-snap-preview::before {
    position: absolute;
    content: "";
    background: var(--wm-snap-preview-background);
    box-shadow: var(--wm-snap-preview-box-shadow);
    border-radius: var(--wm-window-border-radius);
    z-index: 1000;
    pointer-events: none;
}

.wm-container-snap-preview--right::before {  
    width: 50%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.wm-container-snap-preview--left::before {  
    width: 50%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.wm-container-snap-preview--top-right::before {
    width: 50%;
    height: 50%;
    top: 0;
    left: 50%;
}

.wm-container-snap-preview--top-left::before {
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
}

.wm-container-snap-preview--bottom-right::before {
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
}

.wm-container-snap-preview--bottom-left::before {
    width: 50%;
    height: 50%;
    top: 50%;
    left: 0;
}

.wm-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid var(--wm-border-color);
    background: var(--wm-window-background);
    border-radius: var(--wm-window-border-radius);
    overflow: hidden;
}

.wm-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wm-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.wm-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    height: var(--wm-window-header-height);
    background: var(--wm-header-background);
    user-select: none;
    cursor: default;
    font-family: var(--wm-font-family);
    font-size: var(--wm-font-size);
}

.wm-window-title {
    max-width: var(--wm-window-title-max-width);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--wm-header-title-color);
}

.wm-window-resizer {
    position: absolute;
    background: var(--wm-resizer-background);
}

.wm-window-resizer--left {
    width: var(--wm-resizer-size);
    height: 100%;
    top: 0;
    left: 0;
    cursor: ew-resize;
}

.wm-window-resizer--right {
    width: var(--wm-resizer-size);
    height: 100%;
    top: 0;
    right: 0;
    cursor: ew-resize;
}

.wm-window-resizer--top {
    width: 100%;
    height: var(--wm-resizer-size);
    top: 0;
    left: 0;
    cursor: ns-resize;
}

.wm-window-resizer--bottom {
    width: 100%;
    height: var(--wm-resizer-size);
    bottom: 0;
    left: 0;
    cursor: ns-resize;
}

.wm-window-controls {
    display: flex;
    margin-left: auto;
}

.wm-window-resizer--top-left {
    width: var(--wm-resizer-size);
    height: var(--wm-resizer-size);
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.wm-window-resizer--top-right {
    width: var(--wm-resizer-size);
    height: var(--wm-resizer-size);
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.wm-window-resizer--bottom-left {
    width: var(--wm-resizer-size);
    height: var(--wm-resizer-size);
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.wm-window-resizer--bottom-right {
    width: 4var(--wm-resizer-size);
    height: var(--wm-resizer-size);
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

.wm-window-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 4px;
    margin: 0;
    outline: none;
}

.wm-window-button:focus,
.wm-window-button:focus-visible {
    outline: none;
}

.wm-window-button:hover {
    opacity: var(--wm-window-button-opacity-hover);
}

.wm-window-content {
    width: 100%;
    flex-grow: 1;
}